body {
    margin: auto;
    padding: 0;
    height: 100vh;
    background-color: #419191;
    display: flex;
    justify-content: center;    
    align-items: center;
    color: white;
    font-weight: bold;
    font-size: x-large;
}

.title-screen {
    background-color: #419191;
}

#title {
    margin-top: 0px;
    font-family: "Playpen Sans Thai", cursive;
    font-size: 5rem;
}

.buttons {
    display: flex;
    justify-content: center;
    width: 100%;
}

#play-button {
    background-color: #ff6e2b;
    border: 5px solid;
    border-color: #da5f26 #ff9f6b #ff9f6b #da5f26;
    padding: 20px 40px;
    font-family: 'Courier New', monospace;
    font-weight: bold;
    font-size: 50px;
    cursor: pointer;
}

#play-button:active {
    border-color: #000000#ff6e2b#ff6e2b#000000;
}

#user {
    cursor: none;
}

#score {
    position: absolute;
    top: 25px;
    left: 50px;
    font-family: 'Courier New', monospace;
    font-size: 75px;
    color: white;
    z-index: 1000;
}